# ==========================
# Server
# ==========================
PORT=8000
NODE_ENV=development

# ==========================
# Database
# ==========================
MONGODB_URI=your_mongodb_connection_string
DB_NAME=online_judge

# ==========================
# CORS
# ==========================
CORS_ORIGIN=http://localhost:3000

# ==========================
# JWT
# ==========================
ACCESS_TOKEN_SECRET=your_access_token_secret
ACCESS_TOKEN_EXPIRY=1d

REFRESH_TOKEN_SECRET=your_refresh_token_secret
REFRESH_TOKEN_EXPIRY=10d

# ==========================
# Language Runners
# ==========================
PYTHON_CMD=python
JAVA_CMD=java
JAVAC_CMD=javac